<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo_Medium</title>
    <link rel="icon" href="../img/Logo_Letra.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="../sass/css/flores.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;900&display=swap" rel="stylesheet">
</head>
<body class="fondoVerde">
    <header>
        <img src="../img/Logo_Letra.png" alt="logo_flor" class="imagenLogo"/>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../index.html#CATALOGO">CATALOGO</a></li>
            <li><a href="../views/Carrito.html">CARRITO</a></li>
            <li><a href="../views/Contacto.html">CONTACTO</a></li>
            <li><a href="../views/Nosotros.html">NOSOTROS</a></li>
        </ul>
    </header>
    <h1>CATALOGO</h1>
    <section>
        <img src="../img/flor_medium.jpg" alt="FLOR MEDIUM" class="imagenCatalogo">
    </section>
    <section>
        <img src="../img/flor_medium_catalogo_1.jpg" alt="FLOR MEDIUM PEQUEÑAS1" class="tamañoImagenCatalogo">
        <img src="../img/flor_medium_catalogo_2.jpg" alt="FLOR MEDIUM PEQUEÑAS2" class="tamañoImagenCatalogo">
        <img src="../img/flor_medium_catalogo_3.jpg" alt="FLOR MEDIUM PEQUEÑAS3" class="tamañoImagenCatalogo">
    </section>
    <section>
        <h2>FLOR MEDIUM</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <h3>PRECIO</h3>
        <div class="colorear" style="text-align: left;">
            <a href=""><span>COMPRAR</span></a>
        </div>
    </section>
    <footer>
        <img src="../img/Logo_Letra.png" alt="LOGO">
        <span>EMAIL</span>
        <span>TELEFONO</span>
        <div id="redesSociales">
            <a href=""><img src="../img/instagram_logo.png" alt="INSTAGRAM"></a>
            <a href=""><img src="../img/gmail_logo.png" alt="GMAIL"></a>
            <a href=""><img src="../img/whatsapp_logo.png" alt="WHATSAPP"></a>
        </div>
    </footer>
</body>
</html>