<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" href="../img/Logo_Letra.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="../sass/css/flores.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;900&display=swap" rel="stylesheet">
</head>
<body class="fondoVerde">
    <header>
        <img src="../img/Logo_Letra.png" alt="logo_flor" class="imagenLogo"/>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../index.html#CATALOGO">CATALOGO</a></li>
            <li><a href="../views/Carrito.html">CARRITO</a></li>
            <li><a href="../views/Contacto.html">CONTACTO</a></li>
            <li><a href="../views/Nosotros.html">NOSOTROS</a></li>
        </ul>
    </header>
    <legend><h1>CONTACTO</h1></legend>
    <section class="grid">
        <div>
            <div class="imagenContacto" style="background-image: url(../img/flor_contacto.jpg)"></div>
        </div>
        <div>
            <form action="" method="POST" id="formContacto">
                <fieldset class="flexColumn">
                    <input type="text" id="nombre" placeholder="Nombre y Apellido"/>
                    <input type="number" id="teléfono" placeholder="Teléfono"/>
                    <input type="email" id="email" placeholder="email"/>
                    <br>
                    <textarea name="" id="" cols="4" rows="15" placeholder="Dejanos tu mensaje"></textarea>
                    <br>
                    <div class="colorear">
                        <a href=""><span>ENVIAR</span></a>
                    </div>
                </fieldset> 
            </form>
        </div>
    </section>
    <footer class="navBar">
        <img src="../img/Logo_Letra.png" alt="LOGO">
        <span>EMAIL</span>
        <span>TELEFONO</span>
        <div id="redesSociales">
            <a href=""><img src="../img/instagram_logo.png" alt="INSTAGRAM"></a>
            <a href=""><img src="../img/gmail_logo.png" alt="GMAIL"></a>
            <a href=""><img src="../img/whatsapp_logo.png" alt="WHATSAPP"></a>
        </div>
    </footer>
</body>
</html>