<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="icon" href="../img/Logo_Letra.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="../sass/css/flores.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;900&display=swap" rel="stylesheet">
</head>
<body class="fondoRosa">
    <header>
        <img src="../img/Logo_Letra.png" alt="logo_flor" class="imagenLogo"/>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../index.html#CATALOGO">CATALOGO</a></li>
            <li><a href="../views/Carrito.html">CARRITO</a></li>
            <li><a href="../views/Contacto.html">CONTACTO</a></li>
            <li><a href="../views/Nosotros.html">NOSOTROS</a></li>
        </ul>
    </header>
    <section>
        <div>
            <h1>NOSOTROS</h1>
        </div>
        <div id="imagenNosotros">
            <img src="../img/foto_tienda_1.jpg" alt="IMAGEN_TIENDA1" class="imagenNosotros"/>
            <img src="../img/foto_tienda_2.jpg" alt="IMAGEN_TIENDA2" class="imagenNosotros"/>
            <img src="../img/foto_tienda_3.jpg" alt="IMAGEN_TIENDA3" class="imagenNosotros"/>
            <img src="../img/foto_tienda_4.jpg" alt="IMAGEN_TIENDA4" class="imagenNosotros"/>
            <img src="../img/foto_tienda_6.jpg" alt="IMAGEN_TIENDA5" class="imagenNosotros"/>
        </div>
    </section>
    <section>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </section>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.746764330443!2d172.6386550156221!3d-43.54932039109059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d318a04283e17b7%3A0x8255aa91dcd69250!2s9C%20Burlington%20Street%2C%20Sydenham%2C%20Christchurch%208023%2C%20New%20Zealand!5e0!3m2!1sen!2sar!4v1610583956742!5m2!1sen!2sar" width="100%" height="450" frameborder="0" style="border:0; margin-bottom:80px ;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>
    <footer>
        <img src="../img/Logo_Letra.png" alt="LOGO">
        <span>EMAIL</span>
        <span>TELEFONO</span>
        <div id="redesSociales">
            <a href=""><img src="../img/instagram_logo.png" alt="INSTAGRAM"></a>
            <a href=""><img src="../img/gmail_logo.png" alt="GMAIL"></a>
            <a href=""><img src="../img/whatsapp_logo.png" alt="WHATSAPP"></a>
        </div>
    </footer>
    
</body>
</html>